/* footer.css */

@charset "utf-8";

body {
    position: relative;
    /* background-color: yellowgreen; */
}

footer {
    width: 100%;
    height: 100px;
    max-width: 1920px;

    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;

    margin: 0 auto;
}

footer .inbox {
    width: 90%;
    margin: 0 auto;

    position: relative;
    /* .sns의 기준! */
    /* outline: 2px solid red; */
}

footer .inbox::after {
    content: "";
    display: block;
    clear: both;
}

footer .info {
    float: left;
    margin-left: 10%;
    margin-top: 15px;
    /* outline: 2px solid red; */
}


footer .info li {
    margin-bottom: 5px;
}


footer .info ul address {
    font-style: normal;
}

footer .info ul .business a {
    display: inline-block;
}

footer .info ul .business span {
    font-weight: 700;
}

footer .sns {
    float: right;
    margin-right: 10%;
    line-height: 100px;
    /* outline: 2px solid red; */
}

footer .sns a {
    display: inline-block;
}

footer .sns .blog {
    width: 18px;
    background: url(../img/blog-white.png) no-repeat center;
    color: transparent;
    margin-right: 10px;
    /* outline: 2px solid blue; */
}

footer .sns .instagram {
    width: 18px;
    background: url(../img/instagram-white.png)no-repeat center;
    /* outline: 2px solid blue; */
    margin-right: 10px;
    color: transparent;
}

footer .sns .twitter {
    width: 18px;
    background: url(../img/twitter-white.png)no-repeat center;
    /* outline: 2px solid blue; */
    color: transparent;
}