@charset "utf-8";

/* event.css */


.headline {
    margin: 60px auto;
    /* outline: 2px solid olive; */
    text-align: center;
}

.headline h2 {
    font-size: 2rem;
    font-weight: 700;
}

.headline span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #5F5BFA;
}

.container {
    width: 100%;
    margin-bottom: 100px;
}

.content {
    width: 1350px;
    margin: 0 auto 40px;
    /* outline: 2px solid blue; */
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

.content a {
    display: block;
}

.content .box {
    /* outline: 2px solid blue; */
    margin-bottom: 40px;
    float: left;
    position: relative;
    box-shadow: #888 0 4px 8px;
    text-align: center;
    overflow: hidden;
}

.content .box:nth-child(odd) {
    margin-right: 50px;
}

.content .box h3 {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #fff;
    word-break: keep-all;
}

.content .box img {
    filter: brightness(0.4);
}

.content .box:hover img {
    transform: scale(1.4);
}

.content .box:hover h3 {
    text-decoration: underline;
    font-weight: 800;
}

.container .btn {
    /* width: 5%; */
    text-align: center;
}

.container .btn {
    /* width: 5%; */
    text-align: center;
}

.container .btn a {
    display: inline-block;
    background-color: #C1CF5D;
    padding: 16px 30px;
    border-radius: 8px;
    color: #333;
    font-weight: 600;
    font-size: 18px;
}

.container .btn a:hover {
    background-color: #333;
    color: #C1CF5D;
}