@charset "utf-8";

/* article.css */

.container {
    width: 100%;
}

.container .headline {
    margin: 60px auto;
    /* outline: 2px solid olive; */
    text-align: center;
}

.container .headline h2 {
    font-size: 2rem;
    font-weight: 700;
}

.container .headline span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #5F5BFA;
}

.content {
    width: 60%;
    margin: 60px auto 40px;
    /* outline: 2px solid blue; */
}

.content a {
    display: block;
}

.content .box {
    /* outline: 2px solid blue; */
    margin-bottom: 40px;
}

.content .box::after {
    content: "";
    display: block;
    clear: both;
}

.content .box .txt {
    /*  outline: 2px solid green; */
    float: left;
    height: 300px;
    width: 700px;
    padding: 30px 40px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    box-shadow: #888 0 4px 8px;
}

.content .box .txt h3 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.content .box .txt h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.content .box .txt p {
    font-size: 1.125rem;
    letter-spacing: -1.5px;
    line-height: 1.8rem;
}

.content .box .thumb {
    /* outline: 2px solid red; */
    float: right;
    margin-left: 40px;
    box-shadow: #888 0 4px 8px;
}

.content .box .thumb img {
    width: 100%;
}

.container .btn {
    width: 5%;
    background-color: #C1CF5D;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto 40px;
}

.container .btn a {
    padding: 8px 4px;
    color: #333;
    font-weight: 600;
}

.container .btn:hover {
    background-color: #333;
}

.container .btn:hover a {
    color: #C1CF5D;
}


/* //////////////////////////////////////////////////////////////////////////////// */

footer {
    width: 100%;
    height: 100px;
    max-width: 1920px;
    position: static;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    box-sizing: border-box;
    z-index: 999;
    margin: 0 auto;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}

footer .info {
    float: left;
    margin-left: 10%;
    margin-top: 15px;
    /* outline: 2px solid red; */
}


footer .info li {
    margin-bottom: 5px;
}


footer .info ul address {
    font-style: normal;
}

footer .info ul .business a {
    display: inline-block;
}

footer .info ul .business span {
    font-weight: 700;
}

footer .sns {
    float: right;
    margin-right: 10%;
    line-height: 100px;
    /* outline: 2px solid red; */
}

footer .sns a {
    display: inline-block;
}

footer .sns .blog {
    width: 18px;
    background: url(../../img/blog.png) no-repeat center;
    color: transparent;
    margin-right: 10px;
    /* outline: 2px solid blue; */
}

footer .sns .instagram {
    width: 18px;
    background: url(../../img/instagram.png)no-repeat center;
    /* outline: 2px solid blue; */
    margin-right: 10px;
    color: transparent;
}

footer .sns .twitter {
    width: 18px;
    background: url(../../img/twitter.png)no-repeat center;
    /* outline: 2px solid blue; */
    color: transparent;
}