@charset "utf-8";

/* article.css */

.container {
    width: 100%;
    margin-bottom: 100px;
}

.container .headline {
    margin: 60px auto;
    /* outline: 2px solid olive; */
    text-align: center;
}

.container .headline h2 {
    font-size: 2rem;
    font-weight: 700;
}

.container .headline span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #5F5BFA;
}

.content {
    width: 61%;
    margin: 60px auto;
    /* outline: 2px solid blue; */
}

.content a {
    display: block;
}

.content .box {
    /* outline: 2px solid blue; */
    margin-bottom: 40px;
}

.content .box::after {
    content: "";
    display: block;
    clear: both;
}

.content .box .txt {
    /*  outline: 2px solid green; */
    float: left;
    height: 300px;
    width: 680px;
    padding: 30px 40px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    box-shadow: #888 0 4px 8px;
}

.content .box .txt h3 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.content .box .txt h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.content .box .txt p {
    font-size: 1.1rem;
    letter-spacing: -1.5px;
    line-height: 1.8rem;
}

.content .box .thumb {
    /* outline: 2px solid red; */
    float: right;
    /*   margin-left: 40px; */
    box-shadow: #888 0 4px 8px;
}

.content .box .thumb img {
    width: 100%;
}

.container .btn {
    /* width: 5%; */
    text-align: center;
}

.container .btn {
    /* width: 5%; */
    text-align: center;
}

.container .btn a {
    display: inline-block;
    background-color: #C1CF5D;
    padding: 16px 30px;
    border-radius: 8px;
    color: #333;
    font-weight: 600;
    font-size: 18px;
}

.container .btn a:hover {
    background-color: #333;
    color: #C1CF5D;
}