@charset "utf-8";

/* interview-detail.css */


section {
    width: 50%;
    margin: 0 auto;
    /*  outline: 2px solid green; */
}

section .headline {
    margin: 60px 0;
    text-align: center;

}

section .headline h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

section .interview-info {
    width: 100%;
    margin-bottom: 40px;
}

section .main-img p {
    font-size: 0.875rem;
    color: #888;
    line-height: 1.1rem;
    margin-top: 20px;
    text-align: center;
}

section .main-img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

section .main-img img {
    width: 100%;
}

section .article {
    width: 100%;
}

section .article h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 40px 0;
    text-indent: 1em;
}

section .article p {
    margin-bottom: 30px;
    text-indent: 1em;
    line-height: 1.8rem;
}

section .article span {
    margin: 10px auto 0;
    display: block;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    line-height: 1.8rem;

}

section .article.favorite {
    margin: 80px 0;
    border-top: 3px solid #eee;
}

section .article.favorite h4 {
    font-size: 1.175rem;
    font-weight: 600;
    margin-bottom: 20px;
}

section .profile {
    width: 70%;
    margin: 0 auto 80px;
}

section .profile::after {
    content: "";
    display: block;
    clear: both;
}

section .profile .main-img {
    width: 45%;
    float: left;
    margin-right: 5%;
}

section .profile .main-img img {
    width: 100%;
}

section .profile p {
    float: right;
    width: 50%;
}

section .profile span {
    font-size: 1.175rem;
    font-weight: 600;
    margin-bottom: 20px;
}


/* //////////////////////////////////////////////////////////////////////////////// */

footer {
    width: 100%;
    height: 100px;
    max-width: 1920px;
    position: static;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    box-sizing: border-box;
    z-index: 999;
    margin: 0 auto;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}

footer .info {
    float: left;
    margin-left: 10%;
    margin-top: 15px;
    /* outline: 2px solid red; */
}


footer .info li {
    margin-bottom: 5px;
}


footer .info ul address {
    font-style: normal;
}

footer .info ul .business a {
    display: inline-block;
}

footer .info ul .business span {
    font-weight: 700;
}

footer .sns {
    float: right;
    margin-right: 10%;
    line-height: 100px;
    /* outline: 2px solid red; */
}

footer .sns a {
    display: inline-block;
}

footer .sns .blog {
    width: 18px;
    background: url(../../img/blog.png) no-repeat center;
    color: transparent;
    margin-right: 10px;
    /* outline: 2px solid blue; */
}

footer .sns .instagram {
    width: 18px;
    background: url(../../img/instagram.png)no-repeat center;
    /* outline: 2px solid blue; */
    margin-right: 10px;
    color: transparent;
}

footer .sns .twitter {
    width: 18px;
    background: url(../../img/twitter.png)no-repeat center;
    /* outline: 2px solid blue; */
    color: transparent;
}