@charset "utf-8";

/* bullet2.css */

.container {
    width: 100%;
     margin-bottom: 100px;
}

.container .headline {
    margin: 60px auto;
    /* outline: 2px solid olive; */
    text-align: center;
}

.container .headline h2 {
    font-size: 2rem;
    font-weight: 700;
}

.container .headline span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #5F5BFA;
}

.content {
    width: 60%;
    margin: 60px auto 40px;
    /* outline: 2px solid blue; */
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

.content .box {
    width: 32%;
    height: 360px;
   /*  outline: 2px solid tomato; */
    float: left;
    margin-bottom: 60px;
}

.content .box~.box {
    margin-left: 2%;
}

.content .box:nth-child(3n+2) {
    margin-left: 0;
}


.box .img-box {
    width: 50%;
    height: 200px;
    /*  outline: 2px solid lime; */
    overflow: hidden;
    margin: 0 auto 20px;
    box-shadow: #888 0 4px 8px;
    border-radius: 15px;
}

.box .img-box img {
    width: 100%;
}

.box .txt-box {
    width: 70%;

    margin: 0 auto;
}

.box .txt-box h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: -1px;
    word-break: keep-all;
}

.box .txt-box p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.container .btn {
    /* width: 5%; */
    text-align: center;
}

.container .btn a {
    display: inline-block;
    background-color: #C1CF5D;
    padding: 16px 30px;
    border-radius: 8px;
    color: #333;
    font-weight: 600;
    font-size: 18px;
}

.container .btn a:hover {
    background-color: #333;
    color: #C1CF5D;
}


/* //////////////////////////////////////////////////////////////////////////////// */

footer {
    width: 100%;
    /*  height: 100px; */
    max-width: 1920px;

    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 20px 0;
    margin: 0 auto;
    border-top: 1px solid #ccc;
}

footer .inbox {
    width: 90%;
    margin: 0 auto;

    position: relative;
    /* .sns의 기준! */
    /* outline: 2px solid red; */
}

footer .inbox::after {
    content: "";
    display: block;
    clear: both;
}

footer .info {
    float: left;
    margin-left: 10%;
    margin-top: 15px;
    /* outline: 2px solid red; */
}


footer .info li {
    margin-bottom: 5px;
}


footer .info ul address {
    font-style: normal;
}

footer .info ul .business a {
    display: inline-block;
}

footer .info ul .business span {
    font-weight: 700;
}

footer .sns {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

footer .sns a {
    display: inline-block;
}

footer .sns .blog {
    width: 18px;
    background: url(../../img/blog.png) no-repeat center;
    color: transparent;
    margin-right: 10px;
    /* outline: 2px solid blue; */
}

footer .sns .instagram {
    width: 18px;
    background: url(../../img/instagram.png)no-repeat center;
    /* outline: 2px solid blue; */
    margin-right: 10px;
    color: transparent;
}

footer .sns .twitter {
    width: 18px;
    background: url(../../img/twitter.png)no-repeat center;
    /* outline: 2px solid blue; */
    color: transparent;
}